@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body, html {
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

header > h1 {
    padding-top: 20px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 20px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

#primeiro {
    color: black;
}

.imagem {
    background-image: url('/desafios/desafio012/imagens/background001.jpg');
}

.imagem > p {
    background-color: black;
    color: white;
    padding: 20px;
    margin: 10px;
    width: 500px;
}



footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}